:root{
  --dark-color: #2e2f42;
  --textp-color: #434455;
  --white-color: #fff;
  --logo-color:#4d5ae5;
  --light-color:#F4F4FD;
  --hover-color:#404BBF;
  --btn-color: #E7E9FC;


}
body {
    color:var(--textp-color);
    background-color: var(--white-color) ;
    font-family: "Roboto", sans-serif;
}

/* reset start */
.link {

    text-decoration: none;
}
.list {
    list-style: none
}
button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;}
img {
display: block;
}

/* reset finish */
.header{
    border-bottom: 1px solid #e7e9fc
}
.container {
    width: 1158;
    margin-left: auto;
    margin-right: auto;
    outline: 2px red;
    outline-offset: -2px;
}

.header-container{
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 1158;
    justify-content: space-between;
}
.header-list{
    display: flex;
    align-items: center;
    margin-right: utoa;
    gap: 40px;

}
.header-nav{
    display: flex;
    align-items: center;
    
}
.header-link {
             
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-color);
        margin-right: 76px;
    
            
       
        
}

 .header-logo {
    color: var(--dark-color);
 }

.header-item{
    display:flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 42px;
}
.header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    }
.header-item-link:hover,
.header-item-link:focus {
    color: var(--hover-color); }


.header-contacts {
    display: flex;
    font-style: normal;
    
}
.header-contacts-list{
    display: flex;
    gap: 40;
    margin-right: auto;
}
.header-contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--textp-color);
    margin-right: 42px;
}
.header-contacts-item:hover,
.header-contacts-item:focus {
color: var(--hover-color);
}
.hero {
    background-color:var(--dark-color);
    padding: 188px 0;
}
.container-hero{
    /* display: flex; */
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-title {
    
    font-size: 56px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.07;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-btn {
    
    
        
        /* IRIS */
        font-family: "Roboto", sans-serif;
        background:var(--logo-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        text-align: center;
        border: none;
        border-radius: 4px;
        margin-left: auto;
            margin-right: auto;
           /* flex-direction: row; */
            /* align-items: flex-start; */
            /* padding: 16px 32px; */
            /* gap: 10px; */
        
            position: absolute;
            width: 169px;

}
.hero-btn:focus, .hero-btn:hover {
background: var(--hover-color);
}
.feature{
    padding: 120 0;
}
.container-feature{}

.feature-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.feature-item{
    width: calc((100% - 72px) / 4);
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;

}

.feature-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--textp-color);
}
.about{
padding-bottom: 120px;
}
.about-list {
    display: flex;
    gap: 24px;
}
.about-img{
    display: block;
    width: 360px;
    height: 300px;
    width:calc((100% - 48px) / 3);
}
.about-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: var(--dark-color);
margin-bottom: 72px;
}


.team {
    background-color: var(--light-color);
    padding: 120 0;
}
.team-list{
    display: flex;
    gap: 24px;
}
.container-team{
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;
}
.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--dark-color);
margin-bottom: 72px;
}
.team-card-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-color);
text-align:center;
margin-bottom: 8px;
}


.team-card {
    background-color: var(--white-color);
    width: calc((100%-72px)/4);
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--textp-color);
    text-align: center;
}
.completion {
    background-color:var(--dark-color);
    padding: 100px 0;
}
.completion-link {
display: inline-block;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--logo-color);
margin-bottom: 16px;
}
.completion-logo {
color: var(--light-color);
}
.completion-text {
color: var(--light-color);
max-width: 264px;
}
.filter {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color:#F4F4FD;
    cursor: pointer;
}

 .filter:hover,
 .filter:focus {
color: var(--white-color);
background-color: var(--hover-color);
 }
   
